{% extends "base.twig"%}
{% block spe %}
	{% for item in nomspe_type_contenu %}
		<html class="html{{item.nomspe_type_contenu}}">
		{% endfor %}
	{% endblock spe %}
	{% block CSS %}
		<link rel="stylesheet" href="css/competenceAV.css">
		<link rel="stylesheet" href="css/competenceDweb.css">
		<link rel="stylesheet" href="css/competenceComdi.css">
	{% endblock CSS %}
	{% block main %}
		{% for element in titre %}
			<body class="body_{{element.nomspe_type_contenu}} flex {{element.nomspe_type_contenu}}_crt green_{{element.nomspe_type_contenu}} ">
				<wrap class="wrapper{{element.nomspe_type_contenu}} flex " role="wrapper">
					<header role="header{{element.nomspe_type_contenu}} flex">

						<div class="titre{{element.nomspe_type_contenu}}  flex">
							<h1 class="titre_main{{element.nomspe_type_contenu}} green_{{element.nomspe_type_contenu}} flex">
								{{element.nom_type_contenu}}
							</h1>
						</div>

					</header>
					<main class="main_{{element.nomspe_type_contenu}} flex" role="main">
						<section class="flex section{{element.nomspe_type_contenu}}">
							<a href="index.php" class="flex intertitre">
								<h2 class="flex inter">
									Retour à l'accueil
								</h2>
							</a>
							{% for item in competence %}
								<article class="flex art_{{element.nomspe_type_contenu}}">
									<h2 class="flex green_{{element.nomspe_type_contenu}}">{{item.titre_contenu}}</h2>
									<div class="flex row_{{element.nomspe_type_contenu}}">
										<a class="flex href" href="{{item.lien_contenu}}">
											<img class="flex img_{{element.nomspe_type_contenu}}" src="image/{{item.image_contenu}}.png" alt="ilustration compétence {{item.nom_type_contenu}}">
										</a>
										<div class="flex div_{{element.nomspe_type_contenu}}">
											<p class="flex green_{{element.nomspe_type_contenu}}">
												Disponible sur
												{{item.plateforme_contenu}}
											</p>
											<p class="flex green_{{element.nomspe_type_contenu}}">
												Finalisé le :
												{{item.date_contenu}}</p>
											<p class="flex green_{{element.nomspe_type_contenu}}">
												Compétences mise en oeuvre :
												{{item.nom_competence}}</p>
											<p class="flex detail green_{{element.nomspe_type_contenu}}">
												{{item.detail_contenu}}
											</p>
										</div>
									</div>
								</article>
							{% endfor %}
						</section>
					</wrap>
				</main>
			{% endfor %}
		{% endblock main %}
